{% extends 'base.html' %}

{% block title %}Добавить сотрудника{% endblock %}

{% block content %}
<style>
    .add-employee-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: 20vh; /* Отступ сверху */
    }

    .add-employee-form input {
        width: 100%;
        max-width: 360px;
        padding: 13px 15px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
    }

    .add-employee-form button {
        width: 100%;
        max-width: 360px;
        padding: 15px;
        background-color: #5E37FF;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 7vh;
    }

    .add-employee-form button:hover {
        background-color: #4c2ecc;
    }

    .header {
        background-color: #5E37FF;
        color: white;
        padding: 15px 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        left: 0;
    }

    .header a {
        position: absolute;
        left: 20px;
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    .header h1 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }
</style>

<div class="header">
    <a href="/myapp/profile/">
        <i class="material-icons">arrow_back</i>
    </a>
    <h1>Добавить сотрудника</h1>
</div>

<form method="POST" enctype="multipart/form-data" class="add-employee-form">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Введите логин сотрудника" required>
    <input type="password" name="password" placeholder="Введите пароль" required>
    <input type="file" name="photo" accept="image/*" placeholder="Прикрепите фото" required>
    <button type="submit">Добавить сотрудника</button>
</form>
{% endblock %}
