{% extends 'base.html' %}

{% block title %}Добавить секцию{% endblock %}

{% block content %}
<style>
    .add-section-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: 20vh; /* Отступ сверху */
    }

    .add-section-form input {
        width: 100%;
        max-width: 360px;
        padding: 13px 15px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
    }

    .add-section-form button {
        width: 100%;
        max-width: 360px;
        padding: 15px;
        background-color: #5E37FF;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 7vh;
    }

    .add-section-form button:hover {
        background-color: #4c2ecc;
    }

    .header {
        background-color: #5E37FF;
        color: white;
        padding: 15px 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        left: 0;
    }

    .header a {
        position: absolute;
        left: 20px;
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    .header h1 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }
</style>

<div class="header">
    <a href="/children/profile/">
        <i class="material-icons">arrow_back</i>
    </a>
    <h1>Добавить секцию</h1>
</div>

<form method="POST" class="add-section-form">
    {% csrf_token %}
    <input type="text" name="section_name" placeholder="Название секции" required>
    
    <!-- Ввод времени начала и конца -->
    <input type="time" name="start_time" required>
    <input type="time" name="end_time" required>

    <button type="submit">Добавить секцию</button>
</form>

{% if error %}
    <div style="color: red; margin-top: 20px;">
        {{ error }}
    </div>
{% endif %}

{% endblock %}
