{% extends 'base.html' %}

{% block title %}Добавить клиента{% endblock %}

{% block content %}
<style>
    .add-client-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: 20vh; /* Отступ сверху */
    }

    .add-client-form input, .add-client-form select {
        width: 100%;
        max-width: 360px;
        padding: 13px 15px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
        background-color: #fff;
        color: #333;
    }

    .add-client-form select {
        appearance: none; /* Убирает стандартный вид выпадающего списка */
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"%3E%3Cpath d="M7 10l5 5 5-5z"/%3E%3C/svg%3E'); /* Иконка стрелки */
        background-repeat: no-repeat;
        background-position: right 15px center;
        background-size: 16px;
    }

    .add-client-form button {
        width: 100%;
        max-width: 360px;
        padding: 15px;
        background-color: #5E37FF;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 7vh;
    }

    .add-client-form button:hover {
        background-color: #4c2ecc;
    }

    .header {
        background-color: #5E37FF;
        color: white;
        padding: 15px 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        left: 0;
    }

    .header a {
        position: absolute;
        left: 20px;
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    .header h1 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }
</style>

<div class="header">
    <a href="/myapp/profile/">
        <i class="material-icons">arrow_back</i>
    </a>
    <h1>Добавить клиента</h1>
</div>

<form method="POST" enctype="multipart/form-data" class="add-client-form">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Введите логин клиента" required>
    <input type="password" name="password" placeholder="Введите пароль" required>
    
    <label for="sections">Выберите секции:</label>
    <select name="sections" id="sections" multiple required>
        {% for section in sections %}
            <option value="{{ section.id }}">{{ section.name }}</option>
        {% endfor %}
    </select>

    <button type="submit">Добавить клиента</button>
</form>
{% endblock %}
